In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('sentiment_data.csv')
df.head()

            News                https://www.yahoo.com/     0.0
0           Life      https://www.yahoo.com/lifestyle/  0.0000
1  Entertainment  https://www.yahoo.com/entertainment/  0.4215
2        Finance            https://finance.yahoo.com/  0.0000
3         Sports             https://sports.yahoo.com/  0.0000

In [4]:
df1 = pd.read_csv('historical_stock_data.csv')
df1.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-01-02,74.059998,75.150002,73.797501,75.087502,72.876091,135480400
1,2020-01-03,74.287498,75.144997,74.125000,74.357498,72.167595,146322800
2,2020-01-06,73.447502,74.989998,73.187500,74.949997,72.742653,118387200
3,2020-01-07,74.959999,75.224998,74.370003,74.597504,72.400558,108872000
4,2020-01-08,74.290001,76.110001,74.290001,75.797501,73.565193,132079200